<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383074742500-k038e7bhqac0q03kqvd99lue01l4ovr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383074742500-k038e7bhqac0q03kqvd99lue01l4ovr1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>383074742500-a3ckme918cf3l35hrare661d5q0t1avn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXyiaWYbdY4kLLjlI84NbBU_NO0_FBBfg</string>
	<key>GCM_SENDER_ID</key>
	<string>383074742500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.safeplate.safeplate</string>
	<key>PROJECT_ID</key>
	<string>safeplate-b586b</string>
	<key>STORAGE_BUCKET</key>
	<string>safeplate-b586b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:383074742500:ios:4cf8623d7047715ae2bcf1</string>
</dict>
</plist>
